/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=cyrillic-ext");
@import "_null";

@font-face {
  font-family: "Random Grotesque Standard";
  src: url("../fonts/RG-StandardBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
}

body {
  font-family: "Random Grotesque Standard", sans-serif;
  color: #000000;
  line-height: 0.9;
  background: #f9f6f1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.header {
}

.main {
  position: relative;
  flex: 1 1 auto;
  background: #000;
  padding: 50px 15px 50px 15px;
}

.block {
  font-size: 0;
  position: relative;
  color: #ffffff;
  font-weight: 700;
  background-color: #000;
  z-index: 1;
  max-width: 1800px;
  margin: 0px auto;

  &__row {
    display: inline-flex;
    width: 100%;
    text-wrap: nowrap;
    // @media (max-width: 768.98px) {
    //   width: 60%;
    // }
  }

  // text-wrap: nowrap;
  &__text {
    display: inline-flex;
    font-size: 144px;
    background-color: #000;
    padding-bottom: 14px;
    @media (max-width: 1799.98px) {
      font-size: calc(60px + (144 - 60) * ((100vw - 768px) / (1800 - 768)));
    }
    // @media (max-width: 1799.98px) {
    //   font-size: calc(60px + (144 - 60) * ((100vw - 768px) / (1800 - 768)));
    // }
    @media (max-width: 1799.98px) {
      padding-bottom: calc(1px + (14 - 1) * ((100vw - 768px) / (1800 - 768)));
    }
  }
  // .block__line

  &__line {
    display: inline-block;
    vertical-align: top;
    // align-self: stretch;
    border-left: 30px solid #000;
    border-right: 30px solid #000;
    border-top: 30px solid #000;
    border-bottom: 55px solid #000;
    font-size: 0;
    height: 144px;
    background-color: transparent;
    flex: 1 1 auto;
    @media (max-width: 1799.98px) {
      height: calc(20px + (144 - 20) * ((100vw - 320px) / (1800 - 320)));
    }
    // @media (max-width: 1799.98px) {
    //   height: calc(70px + (144 - 70) * ((100vw - 768px) / (1800 - 768)));
    // }
    @media (max-width: 1799.98px) {
      border-bottom: calc(20px + (55 - 20) * ((100vw - 768px) / (1800 - 768)))
        solid #000;
    }
    @media (max-width: 1799.98px) {
      border-top: calc(10px + (30 - 10) * ((100vw - 768px) / (1800 - 768)))
        solid #000;
    }
    @media (max-width: 1799.98px) {
      border-left: calc(10px + (30 - 10) * ((100vw - 768px) / (1800 - 768)))
        solid #000;
    }
    @media (max-width: 1799.98px) {
      border-right: calc(10px + (30 - 10) * ((100vw - 768px) / (1800 - 768)))
        solid #000;
    }

    // .block__line_1

    &_1 {
      // flex: 1 1 auto;
      width: 676px;
      // @media (max-width: 1799.98px) {
      //   width: calc(500px + (676 - 500) * ((100vw - 320px) / (1800 - 320)));
      // }
    }

    // .block__line_2

    &_2 {
      width: 502.8px;
    }

    // .block__line_3

    &_3 {
      width: 572.7px;
    }

    // .block__line_4

    &_4 {
      width: 1101px;
    }

    // .block__line_5

    &_5 {
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // height: 100%;
  z-index: -1;
}

.footer {
}
